.vscode/**
.vscode-test/**
out/test/**
out/testTmp/**
out/**/*.map
src/**
.gitignore
.editorconfig
tsconfig.json
vsc-extension-quickstart.md
tslint.json
images/icon.svg
images/image.gif
images/original_image.gif
images/command-palette.png
.github
testTmp/**
biome.json
